<body class="bg-white text-black min-h-screen items-center justify-center">
  <div class="lg:w-1/2 p-8 rounded-md mx-auto py-52">
    <h1 class="text-3xl font-bold mb-6 text-center">
      Ask anything about Doungeons and Dragons!
    </h1>
    <div id="resultContainer" class="mt-4 h-48 overflow-y-auto">
      <p id="resultText" class="whitespace-pre-line"></p>
    </div>
    <input
      type="text"
      id="promptInput"
      class="w-full px-4 py-2 rounded-md bg-gray-200 placeholder-gray-500 focus:outline-none mt-4"
      placeholder="Enter prompt..."
    />
    <div class="flex justify-center mt-4">
      <button
        id="generateBtn"
        class="w-full px-4 py-2 rounded-md bg-black text-white hover:bg-gray-900 focus:outline-none mr-2 disabled:opacity-75 disabled:cursor-not-allowed"
      >
        Generate
      </button>
    </div>
  </div>
</body>

<script>
  const promptInput = document.getElementById("promptInput");
  const generateBtn = document.getElementById("generateBtn");
  const resultText = document.getElementById("resultText");
  const queryForm = document.getElementById("queryForm");

  function sendRequest(event) {
    event.preventDefault();
    const query = encodeURIComponent(promptInput.value.trim());
    fetch(`http://37.60.248.168:8080/ask/${query}`)
      .then((response) => response.json())
      .then((data) => {
        resultText.innerHTML = data.response;
        promptInput.value = "";
      });
  }

  generateBtn.addEventListener("click", sendRequest);
</script>
