<footer> <h2 class="sr-only">Footer</h2> <div class="border-t py-12 mx-auto max-w-7xl px-6"> <div class="xl:grid xl:grid-cols-3 xl:gap-8"> <div class="text-white xl:col-span-1"> <a href="/"> <span class="sr-only">Brickoram</span> <img src="/logo.svg" alt="Brickoram Logo" class="h-16 w-auto"> </a> <a href="/"> </a> </div> <div class="grid grid-cols-2 gap-8 mt-12 xl:mt-0 xl:col-span-2"> <div class="md:grid md:grid-cols-2 md:gap-8"> <div> <h3 class="font-semibold leading-6 text-black uppercase">
Navigation
</h3> <ul role="list" class="mt-4 space-y-2"> <li> <a href="/product" class="text-sm text-gray-500 hover:text-blue-600">
Pricing
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
All UI Kits
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Custom pages
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Next.js
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Gatsby
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Remix
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Alpine.js
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Svelte
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
About
</a> </li> </ul> </div> <div class="mt-12 md:mt-0"> <h3 class="font-semibold leading-6 text-black uppercase">
UI/UX &amp; Dev
</h3> <ul role="list" class="mt-4 space-y-2"> <li> <a href="https://www.wickedbackgrounds.com/" class="text-sm text-gray-500 hover:text-blue-600">
Wicked Backgrounds
</a> </li> <li> <a href="https://www.colorsandfonts.com/" class="text-sm text-gray-500 hover:text-blue-600">
Colors &amp; Fonts
</a> </li> <li> <a href="https://www.serendipitytheme.com/" class="text-sm text-gray-500 hover:text-blue-600">
Serendipity</a> </li> <li> <a href="https://www.brutalist.one/" class="text-sm text-gray-500 hover:text-blue-600">
Brutalist One</a> </li> </ul> </div> </div> <div class="md:grid md:grid-cols-2 md:gap-8"> <div> <h3 class="font-semibold leading-6 text-black uppercase">Legal</h3> <ul role="list" class="mt-4 space-y-2"> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Changelog
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
FAQ
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Refund
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
License
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Privacy Policy
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Terms
</a> </li> </ul> </div> <div class="mt-12 md:mt-0"> <h3 class="font-semibold leading-6 text-black uppercase">
Socials
</h3> <ul role="list" class="mt-4 space-y-2"> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Twitter
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Dribbble
</a> </li> <li> <a href="#_" class="text-sm text-gray-500 hover:text-blue-600">
Indie Hackers
</a> </li> </ul> </div> </div> </div> </div> </div> </footer>