---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="./logo.svg"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./inter-400.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("./inter-700.woff2") format("woff2");
  }

  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Inter", sans-serif;
  }
</style>
